.footer {
    background-color: #222;
    color: #eee;

    padding: 3em;
    text-align: center;
}

.footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer ul li{
    padding: .5em;
}

.footer ul li:hover{
    color: #fb3;

}

.footer ul li svg{
    font-size: 1.5em;
    cursor: pointer;
}

footer span {
    font-weight: bold;
    color: #fb3;
}