.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    /* padding: 0 2em; */
}

.navbar ul li a{
    color: #eee;

    text-decoration: none;

    padding: 0 1em;

}

.navbar ul li a:hover{
    color: #222;
    background-color: #fb3;
    padding: 1em;
    border-radius: 1rem;
}